# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production build
build/
dist/

# Misc
.DS_Store
*.pem
.env
.env*.local

# Debug
npm-debug.log*

# Vercel
.vercel

*.pdf
